
mixin portfolio_item(item, img_path)
    .portfolio_item
        //
            img.preview_img(src= image_path_portf_item + item.img_src, alt=item.item_name)
        img.preview_img(src = item.img_src, alt = item.item_name)
        .portfolio_item__descripton
            div
                h3
                    q= item.item_name
                p size 24х50 mm
            a.portfolio_item_btn(href="/") see more

mixin delivery_price(item)
    li 
        span #{item.country}
        span #{item.price_delivery}

mixin list_img(item)
    div 
        img(src=item.link)


mixin list_img_nav(item)
    div 
        img(src=item.link)


mixin list_img--linked(item)
    div 
        a(href=item.link, target="_blank")
            img(src=item.link)

